<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	
	<h1>Coeur de la forêt ✧</h1>
	
	<div class = "sub"></div>

	<div class = "plot">
		<p> Vous parcourez la forêt à la recherche de {{plante}}. Malheureusement,
		après avoir atteint l'endroit où cette plante pousse, vous ne trouvez rien qui
		ressemble à Totoro, ni d'objet qui témoigne de sa présence. Vous vous
		êtes trompé de plante, ou peut être que Totoro n'existe pas.</p>
	</div>

	<div class = "sub"></div>

	<a href = "/intro">
		<div class = "i">
			<p class = "intro"><b>Recommencer la partie</b></p>
		</div>
	</a>

</body>
