<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../../static/totoro.ico"/>
	
</head>

<body>
	<h1>Salle de bain ✧</h1>
	
	<div class = "r">
		<p>Vous êtes dans votre salle de bain. Vous pouvez voir une baignore et 
		des mosaïques bleues. Rien de spécial quoi. Ce n'est pas ici que vous
		trouverez Totoro.</p>
	</div>
	
	<img class = "f" src = "../../static/bain.jpeg">
	
	<a href = "/maison/interieur">
		<div class = "m">
			<p class = "intro"><b>Retourner dans le salon</b></p>
		</div>
	</a>
</body>
