<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	
	<h1>Coeur de la forêt ✧</h1>
	
	<div class = "plot">
		<p>Vous cherchez donc du bambou. Vous marchez pendant un moment
		et vous finissez par arriver devant de grandes tiges vertes, derrière
		lesquelles se trouve un énorme arbre. Soudainement, deux petites
		créatures aux oreilles pointues surgissent des bambous. Vous vous 
		remémorez les livres de votre père.</p>
	</div>
	
	<div class = "r">
		<form action ="/foret/guide" method="post"><label for="guide"><p> Entrez la réponse tout en minuscules</p></label>
			<p>Malgré la gêne, vous décidez de crier haut et fort les mots suivants : <input type="text" id="guide" name="guide"/></p>
            <div class = "sub">
				<input type="submit" value="confirmer">
			</div>
		</form>
	</div>
</body>
