<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	<h1>Arbre géant ✧</h1>
	
	<div class = "r">
		<p>Les esprits ont l'air enthousiaste après vous avoir entendu. Ils font le tour du grand arbre
		et s'arrêtent devant un amas de racines bien précis.</p>
	</div>
	
	<a href = "/foret/arbreroi">
		<div class = "m">
			<p class = "intro"><b>S'en approcher</b></p>
		</div>
	</a>
</body>
