<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../../static/totoro.ico"/>
	
</head>

<body>
	<h1>Cuisine ✧</h1>
	
	<div class = "r">
		<p>Vous êtes dans votre cuisine. Il y a des tas d'ustensiles 
		ici ... mais rien qui pourrait vous aider à trouver Totoro.</p>
	</div>
	
	<a href = "/maison/interieur">
		<div class = "m">
			<p class = "intro"><b>Retourner dans le salon</b></p>
		</div>
	</a>
</body>
