<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../../static/totoro.ico"/>
	
</head>

<body>
	<h1>Arbre géant ✧</h1>
	
	<div class = "sub"></div>
	
	<div class = "plot">
		<p>Vous attendez que quelque chose se déclenche ... malheureusement
		rien ne se passe. Vous cherchez alors les esprits qui vous ont mené
		ici du regard, à la recherche d'une explication ou d'un peu d'aide,
		mais ils ont déjà disparu. Ou peut être qu'ils n'ont jamais été là  ... ?</p>
	</div>

	<div class = "sub"></div>

	<a href = "/intro">
		<div class = "i">
			<p class = "intro"><b>Recommencer la partie</b></p>
		</div>
	</a>
</body>
