<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../../static/totoro.ico"/>
	
</head>

<body>

	<h1>Extérieur de la maison ✧</h1>
	
	<div class = "r">
		<p> Vous partez donc de votre côté. Puisque votre petite soeur 
		est allée près des étendoirs, il ne vous reste plus que deux endroits à observer
		autour de votre maison.</p>
	</div>
	
	<div class = "plot">
		<a href = "/maison/exterieur/riz"><li><p>Marcher jusqu'aux rizières</p></li></a>
		<a href = "/maison/exterieur/pompe"><li><p>Marcher jusqu'à la pompe à eau</p></li></a>
	</div>
</body>
