<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../../static/totoro.ico"/>
	
</head>

<body>
	
	<h1>Étendoirs à linge ✧</h1>
	
	<div class = "plot">
		<p>Vous vous accroupissez et patientez avec Mei, 
		qui est si concentrée sur le trou qu'elle ne voit plus ce qui l'entoure.
		Soudainement, deux drôles de choses apparaissent et s'éloignent discrètement 
		de chez vous.</p>
	</div>
	
	<img class = "e" src = "../../static/trou.gif">
	
	<a href = "/poursuite">
		<div class = "i">
			<p class = "intro"><b>Courir après les esprits</b></p>
		</div>
	</a>
	
</body>
