<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../../static/totoro.ico"/>
	
</head>

<body>
	
	<h1>Étendoirs à linge ✧</h1>
	
	<div class = "sub"></div>
	
	<div class = "plot">
		<p>Après avoir semé les glands que vous portiez dans vos poches, 
		vous vous cachez et vous attendez que quelque chose se passe ... 
		Mei vous rejoint rapidement en vous expliquant qu'elle n'a rien vu dans le trou.</p>
	</div>
	
	<div class = "r">
		<p>Au bout d'une heure d'attente, n'ayant observé aucun résultat, votre soeur et
		vous choisissez de rentrer et de prendre le goûter. Peut-être trouverez-vous Totoro
		un autre jour ?</p>
	</div>
	
	<a href = "/intro">
		<div class = "i">
			<p class = "intro"><b>Recommencer la partie</b></p>
		</div>
	</a>
	
</body>
