<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	
	<h1>Jardin ✧</h1>
	
	<div class = "sub"></div>
	
	<div class = "plot">
		<p>Il ne se passe rien. Vous avez couru pendant un moment, vous 
		êtes donc fatigué. Mei et vous décidez de rentrer à la maison
		pour vous reposer. Les esprits ont plus l'air de vous fuir que
		de vous guider, mais persévérez un peu plus la prochaine fois !</p>
	</div>
	
	<div class = "sub"></div>
	
		<a href = "/intro">
		<div class = "i">
			<p class = "intro"><b>Recommencer la partie</b></p>
		</div>
	</a>
	
</body>
