<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	
	<h1>Forêt ✧</h1>
	
	<div class = "plot">
		<p>Vous arrivez à l'entrée de la forêt. Pour l'instant, aucun signe de Totoro. 
		Au loin à gauche se trouve un arbre pas comme les autres. </p>
	</div>
	
	<div class = "r">
		<a class = "lieu" href = "/maison"><li><p>Retourner devant la maison</p></li></a>
		<a class = "lieu" href = "/foret/pin"><li><p>Aller vers l'arbre étrange</p></li></a>
		<a class = "lieu" href = "/foret/centre"><li><p>Avancer plus profondément dans la forêt</p></li></a>
		
	</div>
	
	
</body>

