<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	
	<h1>Arbre géant ✧</h1>
	
	<div class = "r">
		<p>Les créatures sont très heureuses que vous ayez ramassé leurs
		noisettes, elles vous guident vers le centre 
		de la forêt. Vous marchez longtemps, et arrivez finalement devant un 
		arbre énorme.</p>
	</div>
	
	<a href = "/foret/arbreroi">
		<div class = "m">
			<p class = "intro"><b>S'en approcher</b></p>
		</div>
	</a>
</body>
