<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	<h1>Intérieur de la maison ✧</h1>
	
	<div class = "plot">
		<p>Vous entrez dans votre salon et regardez autour de vous. Par où
		commencer la recherche d'indices ? Il y a à la fois beaucoup
		et peu d'endroits à explorer dans cette maison.</p>
	</div>
	
	<div class = "r">
		<a href = "/maison/interieur/bureau"><li><p> Aller dans le bureau</p></li></a>
		<a href = "/maison/interieur/cuisine"><li><p> Aller dans la cuisine</p></li></a>
		<a href = "/maison/interieur/bain"><li><p> Aller dans la salle de bain</p></li></a>
		<a href = "/maison"><li><p> Retourner devant la maison</p></li></a>
	</div>
</body>
