<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	
	<h1>Contexte du jeu ✧</h1>
	
	<div class = "plot">
		<p>Votre famille et vous venez de déménager dans une maison en pleine campagne. 
		Votre mère est malade et se trouve dans une ville voisine où elle est hospitalisée. 
		Près de chez vous se trouve une forêt vaste et mystérieuse ...
		Hier, votre petite soeur Mei a disparu pendant un long moment. Vous l'avez retrouvée endormie 
		dans cette forêt, les poches remplies de glands. </p>
	</div>
	
	<img class = "f" src = "../static/foret.jpg">
	
	<div class = "plot">
		<p>Sur le chemin du retour, elle vous raconte sa rencontre avec une bête extraordinaire. 
		Elle affirme que c'est lui, et deux petites créatures aux oreilles pointues qui lui ont offert ces fruits. 
		"Ils m'ont guidée jusqu'à chez Totoro !" Votre père vous dit que d'après la légende, Totoro serait 
		le maître de la forêt. Lorsqu'elle est à nouveau seule avec vous, Mei ajoute une dernière chose : 
		"Tu sais, il peut faire pousser les arbres. Je suis sûre que si on retournait le voir, il pourrait trouver
		une plante pour soigner maman."</p>
	</div>
	
	<a href = "/maison">
		<div class = "m">
			<p class = "intro"><b>Retrouvez Totoro !</b></p>
		</div>
	</a>
	
</body>
</html>
