<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	<h1>Bureau ✧</h1>
	
	<div class = "r">
		<p>Vous ouvrez un livre sur l'histoire de votre région et vous commencez à le lire.
		Vous vous mettez à bâiller et vous reposez le livre sur sa pile.</p>
	</div>
	
	<a href = "/maison/interieur/bureau">
		<div class = "m">
			<p class = "intro"><b>Demander autre chose</b></p>
		</div>
	</a>
</body>
