<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	<h1>Bureau ✧</h1>
	
	<div class = "r">
		<p>Vous ouvrez un livre sur la botanique et vous commencez à le lire.
		Vous apprenez que les glands peuvent avoir des couleurs différentes,
		et que les fruits secs comme la noisette sont des Akènes.
		Pour résumer, vous ne trouvez pas grand chose d'intéressant.</p>
	</div>
	
	<a href = "/maison/interieur/bureau">
		<div class = "m">
			<p class = "intro"><b>Demander autre chose</b></p>
		</div>
	</a>
</body>
