<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	
	<h1>Maison ✧</h1>
	
	<div class = "r">
		<p>Vous êtes devant l'entrée de votre maison, grand ouverte. Vous avez mis les glands 
		trouvés hier dans vos poches. À votre droite se trouve la grande forêt dans laquelle vous 
		avez trouvé votre soeur. </p>
	</div>
	
	<div class = "plot">
			<a href = "/maison/interieur"><li><p>Rentrer dans la maison</p></li></a>
			<a href = "/foret"><li><p>Marcher jusqu'à la forêt</p></li></a>
			<a href = "/maison/exterieur"><li><p>Rester à l'extérieur</p></li></a>
	</div>
	
</body>
</html>
