<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	
	<h1>Forêt ✧</h1>
	
	<div class = "sub"></div>
	
	<div class = "r">
		<p>Vous déposez les glands devant les bêtes. Elles vous regardent
		avec désapprobation mais vous font signe de les suivres. Après un 
		moment de marche, vous arrivez devant un arbre autour duquel les esprits se
		mettent à sauter. Vous regardez attentivement et ... c'est un simple
		noisetier. Ne vous trompez pas de fruit la prochaine fois.</p>
	</div>
	
	<div class = "sub"></div>
	
	<a href = "/intro">
		<div class = "m">
			<p class = "intro"><b>Recommencer la partie</b></p>
		</div>
	</a>
	
</body>
