<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body class = "p">
	
	<h1>Forêt de pins ✧</h1>
	
	<div class = "r">
		<p>L'arbre bizarre s'avère être un pin couvert de lianes et de parasites ... Votre ignorance vous a perdu.
		Vous avez beaucoup marché pour arriver ici, vous vous trouvez maintenant loin de chez vous. 
		Le ciel s'assombrit et la fatigue se fait ressentir. </p>
	</div>
	
	<img class = "p" src = "../static/pin.gif">
	
	<a href = "/foret/pin/fin">
		<div class = "m">
			<p class = "intro"><b>Rentrer à la maison</b></p>
		</div>
	</a>
	
</body>
