<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../../static/totoro.ico"/>
	
</head>

<body>

	<h1>Pompe à eau ✧</h1>
	
	<div class = "plot">
		<p>Vous vous approchez d'une pompe à eau ordinaire, à droite de votre maison. 
		Le soleil brille fort et il fait chaud. Votre petite soeur vous rejoint en 
		disant : "J'ai attendu les petits esprits de mon côté, mais je les ai pas vus !"</p>
	</div>
	
	<img class = "f" src = "../../static/pompe-eau.jpeg">
	
	<a href = "/maison/exterieur/pompe/fin">
		<div class = "i">
			<p class = "intro"><b>Pomper de l'eau</b></p>
		</div>
	</a>
</body>
