<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	<h1>Bureau ✧</h1>
	
	<div class = "r">
		<p>Vous demandez à votre père si il a des informations
		importantes ou des anecdotes à propos de la grande forêt
		près de votre maison.
		Il vous répond ceci : "Les paysans aiment dire
		que l'arbre géant au centre de la forêt abrite un esprit
		qui sait faire pousser les plantes. Il y déposent
		des offrandes en espérant que cela améliore leurs prochaines
		récoltes. Oh, et ne t'approche pas des arbres qui te paraissent
		étranges, ils appartiennent à une autre forêt dans laquelle
		plusieurs personnes se sont perdues ... "</p>
	</div>
	
	<a href = "/maison/interieur/bureau">
		<div class = "m">
			<p class = "intro"><b>Demander autre chose</b></p>
		</div>
	</a>
</body>
