<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	<h1>Bureau ✧</h1>
	
	<div class = "r">
		<p>Vous demandez à votre père si il peut vous en dire
		plus sur Totoro.
		Il vous répond ceci : "Il paraît qu'il est très
		grand, gris, et adore les glands. Il m'a plutôt
		l'air sympathique. Mais ce ne sont que des légendes
		alors ... si tu veux plus de détails, cherche
		dans mes livres."</p>
	</div>
	
	<a href = "/maison/interieur/bureau">
		<div class = "m">
			<p class = "intro"><b>Demander autre chose</b></p>
		</div>
	</a>
</body>
