<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../../static/totoro.ico"/>
	
</head>

<body>

	<h1>Rizières ✧</h1>
	
	<div class = "plot">
		<p>Vous arrivez dans les rizières.
		Il n'y a vraiment rien d'intéressant ici ... juste du riz. 
		</p>
	</div>
	
	<div class = "r">
		<a href = "/maison/exterieur/pompe"><li><p>Aller examiner la pompe à eau</p></li></a>
		<a href = "/rejoindre"><li><p>Aller rejoindre Mei</p></li></a>
	</div>
	
</body>
