<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	
	<link rel = "stylesheet" href = "../static/css/style.css">
	<title>Projet ghibli</title>
	<link rel="icon" href="../static/totoro.ico"/>
	
</head>

<body>
	<h1>Chez Totoro ✧</h1>
	
	<div class = "r">
		<p>Vous êtes en fait sur une grosse touffe de poils. Vous vous penchez en avant et 
		vous observez le visage de la bête sur laquelle vous êtes tombé. Elle vous regarde
		et sourit, vous réalisez que vous avez trouvé Totoro ! 
		</p>
	</div>

	<img class = "e" src = "../static/totoro.gif">

	<div class = "r">
		<p>Vous êtes arrivé au bout de l'aventure, bravo et merci d'avoir joué ! ( ˙▿˙ )</p>
	</div>
	
	<a href = "/">
		<div class = "i">
			<p class = "intro"><b>Page d'acceuil</b></p>
		</div>
	</a>
</body>
